{% extends 'post_service/base.html' %}
{% block title %}목록{% endblock %}

{% block contents %}
    <table>
        <colgroup>
            <col span="1" width="12%">
            <col span="1" width="56%">
            <col span="1" width="18%">
            <col span="1" width="20%">
        </colgroup>

        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>날짜</th>
            </tr>
        </thead>

        <tbody>
            {% for post in post_list %}
                <tr>
                    <td>{{ post.pk }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.author }}</td>
                    <td>{{ post.regdate }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div id="paging_area">
        {% for page in total_page %}
            {% if current_page != page %}
                <a  href="?page={{ page }}" rel="nofollow">
            {% else %}
                <a>
            {% endif %}
                    <span style="font-weight: bold;">
                        {{ page }}
                    </span>
                </a>
        {% endfor %}
    </div>

{% endblock %}